html {
    --main-color: #4855CD;
    --hover-color: #2f3a9a;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h5 {
    font-family: "Sankofa Display", sans-serif;
    font-weight: 900;
    color: var(--main-color);
    font-size: 60px;
    text-align: center;
}

h1 i {
    font-size: 40px;
    margin: 4px;
}

#bottomDiv {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 12vh;
}

#bottomDiv #userDiv, #bottomDiv #settingDiv {
    background-color: var(--main-color);
    width: 50%;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    transition: 0.5s;
}

#bottomDiv #userDiv:hover, #bottomDiv #settingDiv:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

#addNote {
    position: fixed;
    right: 20px;
    bottom: 15vh;
    font-size: 60px;
    color: var(--main-color);
    transition: 0.5s;
}

#addNote:hover {
    cursor: pointer;
    color: var(--hover-color);   
}

#zeroNotes img {
    width: 50%;
}

#zeroNotes {
    color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#notesInput {
    width: 100%;
    resize: none;
    outline-color: var(--main-color);
    font-size: 25px;
    padding: 10px;
}

#paragraph {
    font-size: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #2f3a9a;
}

#notesDiv div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #dddffd;
    font-size: 25px;
    border-bottom: 2px solid var(--main-color);
}

#notesDiv div p {
    margin: 0;
}

#optionDiv {
    height: 77vh;
    display: none;
    justify-content: center;
    align-items: center;
}
#optionDiv div {
    text-align: center;
}
#optionDiv div button {
    width: 80%;
}
#loginDiv {
    width: 80%;
    max-width: 500px;
    margin: auto;
    height: 77vh;
    display: none;
    justify-content: center;
    align-items: center;    
}
#loginDiv div {
    width: 100%;
    text-align: center;
    border: 2px solid lightblue;
    padding: 40px 20px;
    background-image: linear-gradient(white, aqua);
    border-radius: 20px;
}

#loginDiv div button {
    width: 80%;
}
#loginDiv div input {
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;

}

#loginDiv #loginError {
    font-size: 22px;
    color: red;
    margin-bottom: 20px;
    display: none;
}

#detailsDiv {
    margin: auto;
    height: 77vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#detailsDiv div {
    text-align: center;
    padding: 50px;
    border: 2px solid darkblue;
    border-radius: 20px;
}

#AdsDiv {
    position: absolute;
    top: 15vh;
    left: 20px;
    display: none;
}
#AdsDiv div {
    width: 200px;        
    height: 230px;
    background-color: blue;
    color: white;
    font-size: 22px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {

    #notesDiv {
        width: 600px;
        margin-right: 0;
    }

    #notesDiv div {
        margin-bottom: 20px;
        border: 3px solid var(--main-color);
        border-radius: 20px;
    }

    #bottomDiv {
        right: 0;
        left: auto;
        top: 0;
    }

    #userDiv {
        padding: 20px;
    }

    #settingDiv {
        padding: 20px;
    }

    #AdsDiv {
        display: block;   
    }

}