html {
    --main-color: #4855CD;
    --hover-color: #2f3a9a;
}



h1 {
    font-family: "Sankofa Display", sans-serif;
    font-weight: 900;
    color: var(--main-color);
    font-size: 60px;
    text-align: center;
}

h1 i {
    font-size: 40px;
    margin: 4px;
}

#bottomDiv {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 12vh;
}

#bottomDiv #userDiv, #bottomDiv #settingDiv {
    background-color: var(--main-color);
    width: 50%;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    transition: 0.5s;
}

#bottomDiv #userDiv:hover, #bottomDiv #settingDiv:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

#addNote {
    position: fixed;
    right: 20px;
    bottom: 15vh;
    font-size: 60px;
    color: var(--main-color);
    transition: 0.5s;
}

#addNote:hover {
    cursor: pointer;
    color: var(--hover-color);   
}

#zeroNotes img {
    width: 50%;
}

#zeroNotes {
    color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#notesInput {
    width: 100%;
    resize: none;
    outline-color: var(--main-color);
    font-size: 25px;
    padding: 10px;
}